.overview-wrapper {
    padding: 32px;
  }
  
  .overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .overview .overview_title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .overview .overview_filter {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border: 1px solid var(--dukaan-gray-300);
    border-radius: 4px;
    background-color: white;
    color: var(--dukaan-gray-700);
  }
  
  .overview-cards {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .cards_card {
    padding: 24px 20px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    position: relative;
  }
  
  .cards_card .card_header {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--dukaan-gray-700);
  }
  
  .cards_card .card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cards_card .card_body .amount {
    font-size: 28px;
    font-weight: 600;
  }
  
  .cards_card .card_body .info {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dukaan-blue-400);
    cursor: pointer;
  }
  
  .card_body .info .info_text {
    text-decoration: underline;
  }
  
  .card_body .info svg {
    margin-top: 2px;
    rotate: 270deg;
  }
  
  .active-card {
    padding: 24px 0 0;
    background: var(--dukaan-blue-400);
    color: white;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
  }
  
  .active-card .card_body,
  .active-card .card_header {
    padding: 0 20px;
  }
  
  .active-card .card_header {
    display: flex;
    gap: 6px;
    font-weight: 300;
    align-items: center;
  }
  
  .active-card .card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .active-card .card_body .amount {
    font-size: 28px;
    font-weight: 600;
  }
  
  .active-card .card_body .info {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .active-card .card_next {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    border-radius: 8px;
    background-color: var(--dukaan-blue-600);
  }
  