
.transactions {
    padding: 0px 32px;
  }
  
  .transactions .transactions_title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .transactions .transactions_filters {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  
  .transactions .transactions_filters div {
    padding: 6px 14px;
    background-color: var(--dukaan-gray-200);
    border-radius: 200px;
    font-size: 14px;
    color: var(--dukaan-gray-600);
  }
  
  .transactions .transactions_table {
    margin-top: 20px;
    background-color: white;
    border-radius: 6px;
    padding: 8px 10px;
  }
  
  .transactions .transactions_table .table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .transactions_table .table_header .table_search {
    padding: 6px 8px 6px 12px;
    border: 1px solid var(--dukaan-gray-300);
    border-radius: 4px;
    display: flex;
    gap: 6px;
    align-items: center;
    width: 240px;
    color: var(--dukaan-gray-600);
  }
  
  .table_header .table_search input {
    padding: 4px 0;
    font-size: 14px;
    font-family: Inter, sans-serif;
    outline: none;
    border: none;
    width: 100%;
  }
  
  .table_header .table_search input::placeholder {
    color: var(--dukaan-gray-600);
  }
  
  .transactions_table .table_header .table_actions {
    display: flex;
    gap: 20px;
  }
  
  .transactions_table .table_header .table_actions div {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border: 1px solid var(--dukaan-gray-300);
    border-radius: 4px;
    background-color: white;
    color: var(--dukaan-gray-700);
  }
  
  .transactions_table .table-wrapper {
    margin-top: 10px;
    width: 100%;
  }
  
  .transactions_table .table-wrapper table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
  }
  
  .table-wrapper table thead {
    background-color: var(--dukaan-gray-100);
    color: var(--dukaan-gray-600);
    font-weight: 400;
    text-align: left;
  }
  
  .table-wrapper table thead tr th {
    padding: 14px 12px;
    font-weight: 500;
    color: var(--dukaan-gray-800);
  }
  
  .table-wrapper table thead th:last-child,
  table tbody td:last-child {
    text-align: right;
  }
  
  .table-wrapper table tbody tr {
    border-bottom: 2px solid var(--dukaan-gray-100);
  }
  
  .table-wrapper table tbody tr:last-child {
    border: 0;
  }
  
  .table-wrapper table tbody tr td {
    padding: 14px 12px;
  }
  
  .td-date {
    color: var(--dukaan-blue-400);
    font-weight: 500;
  }
  
  .td-status {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .td-trans,
  .td-total {
    color: var(--dukaan-gray-800);
  }
  
  .status-processing {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #999;
  }
  
  .status-success {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #17b31b;
  }